.about {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
 
}

.aboutTop {
  width: 100%;
  height:10%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  
}

.aboutBottom {
  display: flex;
  flex-direction: column;
  height: 10%;
  align-items: center;
  margin-top: 30px;
}

.aboutBottom p {
  width: 1000px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 17px;
  color:black;
  background-color:transparent;
}

.about .aboutBottom h1 {
  font-weight: 500;
  font-size: 70px;
  color: black;
  height: 3spx;
  display: flex;
  justify-content: center;
  transform: translateY(-40px);
}
