.contact {
  width: 100%;
  height: 70vh;
  display: flex;
   
}

.contact .leftSide {
  height: 100%;
  flex: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.contact .rightSide {
  height: 100%;
  flex: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.contact .rightSide h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 5px;
  font-size: 50px;
  margin-left: 150px;
  margin-top: auto;
  margin-bottom: auto;
}

form {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  padding: 30px;
  
}

form input {
  height: 20px;
  width: 30%;
  border: none;
  border-bottom: 1px solid #121619;
  color: rgb(0, 0, 0);
}

form textarea {
  height: 30px;
  width: 20%;
  border: none;
  border-bottom: 1px solid #121619;
  color: rgb(212, 18, 18);
}
input::placeholder,
textarea::placeholder {
  font-weight: bold;
  color: rgb(62, 12, 243);
  font-family: Arial, Helvetica, sans-serif;
}
form input:focus,
textarea:focus {
  outline: none;
}

form label {
  margin-top: 3px;
  color: rgb(14, 4, 70);
}

form button {
  margin-top: 12px;
  width: 80px;
  height: 40px;
  border: none;
  background-color: #121619;
  color: white;
  font-size: 15px;
  cursor: pointer;
}
.col-7{
  font-size: large;
  padding:120px;
  margin-top: auto;
}
.formm{
  background-color: rgba(0,0,0,0.5);
    max-width: 800px;
    margin: 20px auto;
}

.contactus-container {
  display: flex;
  padding: 200px;

}
