.footer {
  width: 100%;
  height: 100px;
  background-color:transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 5px;

  /* background-color:transparent; */
}

.socialMedia svg {
  color: black;
  margin: 20px;
  font-size: 30px;
  cursor: pointer;
}

.foot{
  font-size: large;
}

.footer p {
  color:black;
}
