.card-container {
  width: 300px;
  overflow: hidden;
  box-shadow: 0px 0px 15px-5px;
  transition: 0.3s;
  animation: ease-in;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-container:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 15px-0px;
}

.image-container img {
  overflow: hidden;
  height: 200px;
}
.card-container {
  margin: 1rem;
  margin-top: 0.5rem;
}
h3,
p {
  margin: 0;
  padding: 0;
}
.card-title {
  margin: bottom 0.5rem;
}

a {
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  font-weight: bold;
}
.FaLongArrowAltRight {
  position: right;
}
