.Service_request {
    width: 100%;
    height: 70vh;
    display: flex;
  }
  
  .Service_request .leftSide {
    height: 100%;
    flex: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .Service_request.rightSide {
    height: 100%;
    flex: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .Service_request .rightSide h1 {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-weight: 5px;
    font-size: 50px;
    margin-left: 30px;
  }
  
  .form-container form {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    padding: 60px;
  }
  
  form input {
    height: 40px;
    width: 30%;
    border: none;
    border-bottom: 1px solid #121619;
    color: black;
  }
  
  form textarea {
    height: 30px;
    width: 50%;
    border: none;
    border-bottom: 1px solid #121619;
    color: rgb(0, 0, 0);
  }
  input::placeholder,
  textarea::placeholder {
    font-weight: bold;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
  }
  form input:focus,
  textarea:focus {
    outline: none;
  }
  
  form label {
    margin-top: 3px;
    color: black;
    text-align: left;
  }
  
  form button {
    margin-top: 12px;
    width: 100px;
    height: 40px;
    border: none;
    background-color: #121619;
    color: white;
    font-size: 15px;
    cursor: pointer;
  }
  .text-start{
    color:black;
    font-size: 20px;
  }
  .acc
  {
    font-size: 60px;
    color:ghostwhite
  }
  .contactus-container {
    display: flex;
  }

  /* .card-container {
      background-color: blue;
  } */
  
  
  .brand{
    margin-left: 500px;
  }

  .form-container{
    background-color: rgba(0,0,0,0.5);
    max-width: 800px;
   
    margin: 20px auto;
  }