.Feedback {
    text-align: center;
  }
  
  .Feedback-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .Feedback-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .Feedback-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    
  }
  
  .Feedback-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  * {
      font-family: Arial, Helvetica, sans-serif;
      box-sizing: border-box;
      
  }